[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
scikit-learn = "*"
jupytext = "*"
mlflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
